includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app

    # Rule level (0 is the loosest and 9 is the strictest)
    level: 8

    ignoreErrors:
        - '#PHPDoc tag @var#'

    excludePaths:
        - ./*/*/FileToIgnore.php

    checkMissingIterableValueType: false

